:root {
  --table-border-radius: 14px;
}

* {
  font-family: "Trebuchet MS";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flexrow {
  display: flex;
  flex-flow: row;
}

.flexcol {
  display: flex;
  flex-flow: column;
}

.flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.content-container {
  height: 100%;
}

.fill {
  flex: 1;
}

.colfill {
  padding: 20px;
}

.title {
  padding-top: 20px;
}

#nav_container {
  background: #F5F5F5;
  padding: 8px;
  box-shadow: 4px 4px 5px #BBB;
  margin: 8px;
}

.linkbutton:link, .linkbutton:visited {
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.linkbutton:hover, .linkbutton:active {
  background-color: #DFDFDF;
  color: #444;
  box-shadow: 0 2px 4px #CCC;
}

.nav_separator {
  width: 2px;
  background-color: #999;
  margin: 4px;
}

.vertical_separator {
  height: 2px;
  background-color: #999;
  margin: 4px;
}

.shadow {
  box-shadow: 0 6px 16px 0 #AAA;
}

.map {
  border-radius: 16px;
  box-shadow: 0 0 12px 0px #CCC;
  height: 100%;
}

.mapContainer {
   width: 900px;
   height: 700px;
   padding: 40px;
}

.locationContainer {
  flex: 1;
  padding: 40px;
}

.formlabel {
  width: 100px;
}

.wideformlabel {
  width: 150px;
}

.widerformlabel {
  width: 180px;
}


.forminput {
  width: 200px;
}

.submit_button {
  flex: 8;
  margin: 2px;
  padding: 8px 0px;
  border-radius: 24px;
  background-color: #DDD;
  font-size: 18px;
}

.formrow {
  margin: 5px;
}

form {
  background-color: #EEE;
  padding: 12px;
  border-radius: 10px;
}

.popup {
  background-color: #FAA;
  border-radius: 12px;
}

.popup, .popupContainer {
  padding: 12px;
  margin-top: 20px;
}

.popupContainer .show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.7s ease-in-out;
}

.popupContainer .hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.7s, opacity 0.7s ease-in-out;
}

.popupContainer .success {
  background-color: #AFA;
}

.table {
  box-shadow: 0 6px 15px 0 #AAA;
}

.padding {
  padding: 20px;
}

.smallpadding {
  padding: 10px;
}

.profilepanel {
  padding: 40px;
  margin: 20px;
  border-radius: 16px;
  background-color: #DDD;
}

.leftpanel {
  min-width: 900px;
  flex: 4;
}

.rightpanel {
  min-width: 300px;
  flex: 3;
}

.profileinfo * {
  padding: 8px;
  font-size: 18px;
}

.preStatusText {
  padding-left: 0;
}

#status_select {
  border: none;
  background-color: inherit;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.table {
  border-radius: var(--table-border-radius);
}

.tablecell {
  padding: 10px;
  border: 1px solid #999;
  margin: -1px -1px 0 0;
  background-color: #EEE;
}

.table .tablerow:first-child .tablecell:first-child {
  border-top-left-radius: var(--table-border-radius);
}
.table .tablerow:first-child .tablecell:last-child {
  border-top-right-radius: var(--table-border-radius);
}
.table .tablerow:last-child .tablecell:first-child {
  border-bottom-left-radius: var(--table-border-radius);
}
.table .tablerow:last-child .tablecell:last-child {
  border-bottom-right-radius: var(--table-border-radius);
}